/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'filepond/dist/filepond.min.css';
@import '~/assets/css/donotpurge.css';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
