@font-face {
  font-family: 'TT Hoves';
  font-weight: normal;
  src: url('~assets/fonts/TTHoves-Regular.eot?v=1.0.0');
  src: url('~assets/fonts/TTHoves-Regular.woff2') format('woff2'),
    url('~assets/fonts/TTHoves-Regular.woff') format('woff'),
    url('~assets/fonts/TypeType - TT Hoves Regular.otf') format('otf');
}

@font-face {
  font-family: 'TT Hoves';
  font-weight: normal;
  font-style: italic;
  src: url('~assets/fonts/TTHoves-Italic.eot?v=1.0.0');
  src: url('~assets/fonts/TTHoves-Italic.woff2') format('woff2'),
    url('~assets/fonts/TTHoves-Italic.woff') format('woff'),
    url('~assets/fonts/TypeType - TT Hoves Italic.otf') format('otf');
}

@font-face {
  font-family: 'TT Hoves';
  font-weight: 500;
  src: url('~assets/fonts/TTHoves-Medium.eot?v=1.0.0');
  src: url('~assets/fonts/TTHoves-Medium.woff2') format('woff2'),
    url('~assets/fonts/TTHoves-Medium.woff') format('woff'),
    url('~assets/fonts/TypeType - TT Hoves Medium.otf') format('otf');
}

@font-face {
  font-family: 'TT Hoves';
  font-weight: 600;
  src: url('~assets/fonts/TTHoves-DemiBold.eot?v=1.0.0');
  src: url('~assets/fonts/TTHoves-DemiBold.woff2') format('woff2'),
    url('~assets/fonts/TTHoves-DemiBold.woff') format('woff'),
    url('~assets/fonts/TypeType - TT Hoves DemiBold.otf') format('otf');
}

@font-face {
  font-family: 'TT Hoves';
  font-weight: 700;
  src: url('~assets/fonts/TTHoves-Bold.eot?v=1.0.0');
  src: url('~assets/fonts/TTHoves-Bold.woff2') format('woff2'),
    url('~assets/fonts/TTHoves-Bold.woff') format('woff'),
    url('~assets/fonts/TypeType - TT Hoves Bold.otf') format('otf');
}
